# Base DS packages
numpy
scipy
scikit-learn
statsmodels
pandas

# Jupyer IDE
jupyter
jupyterlab
ipykernel

# Plotting
matplotlib
plotnine
altair

# PyMC
pymc
bambi
causalpy
pymc-bart
arviz

# Other samplers
nutpie
jaxlib
numpyro

# Progressbar
tqdm

# Streamlit
streamlit
